body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #656565;
	transition: all .15s linear;
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
}

.is-active {
	color: #656565;
}

.section {
	min-height: calc(100vh - 252px);
	margin: 100px 40px 0 380px;
}
